### Data Analysis with Pandas

**Author**: [Manuch S.](https://github.com/mcsadri)  
**Input**: [videogamesales](https://www.kaggle.com/datasets/gregorut/videogamesales): a dataset containing a list of video games with sales greater than 100,000 copies

#### Overview

An introduction to Data Science via an exploration of the tools to investigate a dataset.

#### Feature Tasks and Requirements

- [ ] In the vg-stats notebook answer the following questions/do the following tasks. Note that the numbers quoted for sales are in the millions, and apply only for those games with over 10,000 sales.:
    - [ ] Which company is the most common video game publisher?
    - [ ] What’s the most common platform?
    - [ ] What about the most common genre?
    - [ ] What are the top 20 highest grossing games?
    - [ ] For North American video game sales, what’s the median?
        - [ ] Provide a secondary output showing ten games surrounding the median sales output.
        - [ ] Assume that games with same median value are sorted in descending order.
    - [ ] For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?
    - [ ] The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?
    - [ ] Come up with 3 more questions that can be answered with this data set.
    - [ ] When you’re done answering all of the questions for each data set, clean up your notebooks leaving only cells that contain relevant data and calculations. Then restart and run your notebook so that the cell numbering is sequential from top to bottom.

#### UAT

No tests are required. But all questions in **Feature Tasks and Requirements** must be clearly answered in your notebook.

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/videogamesales/vgsales.csv

#### Read data file and get DataFrame information

In [2]:
df = pd.read_csv('/kaggle/input/videogamesales/vgsales.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

#### Which company is the most common video game publisher?

In [3]:
publisher_counts = df['Publisher'].value_counts().sort_values(ascending=False)
print("The most common publisher, with", publisher_counts.iloc[0], "titles, is", publisher_counts.index[0] + ".")

The most common publisher, with 1351 titles, is Electronic Arts.

#### What’s the most common platform?

In [4]:
platform_counts = df['Platform'].value_counts().sort_values(ascending=False)
print("The most common platform, with", platform_counts.iloc[0], "titles, is", platform_counts.index[0] + ".")

The most common platform, with 2163 titles, is DS.

#### What about the most common genre?

In [5]:
genre_counts = df['Genre'].value_counts().sort_values(ascending=False)
print("The most common genre, with", genre_counts.iloc[0], "titles, is", genre_counts.index[0] + ".")

The most common genre, with 3316 titles, is Action.

#### What are the top 20 highest grossing games?

In [6]:
top_20 = df[['Name', 'Platform', 'Global_Sales']].sort_values(by=['Global_Sales'], ascending=False).nlargest(20, 'Global_Sales')
top_20 = top_20.style.set_properties(**{'text-align': 'left'}).hide_index()
print("The top 20 highest grossing games are:")
display(top_20)

The top 20 highest grossing games are:

#### For North American video game sales, what’s the median?
- Provide a secondary output showing ten games surrounding the median sales output.
- Assume that games with same median value are sorted in descending order.

In [7]:
# na_median = df['NA_Sales'].median()
# print(na_median)

na_median_sort = df[['Name', 'NA_Sales']].sort_values(by=['NA_Sales'], ascending=False)
na_median_sort = na_median_sort.reindex()
na_median_val = na_median_sort['NA_Sales'].median()
print(na_median_val)
na_median_rows = na_median_sort.loc[df['NA_Sales'] == na_median_val]
print(na_median_rows)
# na_median_rows = na_median_rows
# print(na_median_rows)

0.08
                                                    Name  NA_Sales
11289                                            Frantix      0.08
10958                        Wonder World Amusement Park      0.08
11390       Super Robot Taisen OG Saga: Endless Frontier      0.08
10965                             Atari Classics Evolved      0.08
8826                                    FIFA Soccer 2002      0.08
...                                                  ...       ...
3885                         International Track & Field      0.08
6388                    Scooby-Doo! and the Spooky Swamp      0.08
2067   Winning Eleven: Pro Evolution Soccer 2007 (All...      0.08
7698                                 Shiren the Wanderer      0.08
5715                                Bust-A-Move Universe      0.08

[459 rows x 2 columns]